@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url(../../style/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url(../../style/fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Hanson;
  font-style: normal;
  font-weight: bold;
  src: url(../../style/fonts/Hanson-Bold.ttf) format('truetype');
}

html {
  font-display: swap;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  font-weight: normal;
  color: '#1A1A1A';
}

body {
  margin: 0;
}
