@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url(../style/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url(../style/fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Hanson;
  font-style: normal;
  font-weight: bold;
  src: url(../style/fonts/Hanson-Bold.ttf) format('truetype');
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}
